<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Contáctenos</title>
</head>
<body>
    <h1>Contáctenos</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sapien enim, laoreet quis risus ut, tincidunt luctus sapien. Pellentesque quis dictum odio, id facilisis nisl. Proin non tellus sit amet felis aliquet maximus. Cras luctus nulla sit amet dapibus auctor. Donec in vulputate libero, vel ornare dui. Cras porttitor elit a tortor maximus ornare. Morbi varius, tellus molestie tempus imperdiet, nunc sapien egestas metus, a cursus lacus dui eget leo. Praesent tempor, sem at iaculis placerat, nulla ipsum sollicitudin risus, at blandit diam est vitae felis. Cras vestibulum porttitor mauris, sit amet volutpat dolor luctus sed. Pellentesque mi augue, facilisis nec urna sit amet, pulvinar porta odio. Donec sodales consectetur enim, at consequat quam consectetur et. Maecenas et libero in justo dictum ultrices id vel mi. Vestibulum tempor pharetra tortor et egestas. Fusce sodales at nunc a dictum.
        Phasellus sed augue pulvinar arcu sagittis convallis et sed justo. Quisque sodales tempor fringilla. Vestibulum ut orci augue. Nullam finibus nulla a sagittis consectetur. Aenean et mi sagittis purus ultricies facilisis et nec arcu. Cras feugiat le </p>
        
        
    <img src="{% static 'images/logosena.png' %}" alt="" height="150" width="150">    
    
    <script src="{% static 'js/main.js' %}"></script>


</body>
</html>